body{
	margin: 0;
	padding: 0;
	width: 100%;	
}

img, a, span, p, canvas, div, {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
}

#contenedor{
    margin: 0 auto;
    width: 600px;
    min-height: 400px
}